/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=VT323&display=swap');

* {
  /* border: solid white 1px; */
  box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
}

header {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 5em;
  text-transform: uppercase;
  color: #d8d228;
  margin: .25em;
}

button#startGame {
  background-color: #fff;
  color: #1d1d1d;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button#startGame:hover {
  background-color: #ddd;
}

p#message {
  font-size: 1.2em;
}

div#scoreSection {
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.scoreParent {
  margin: 0 10%;
  font-size: 3em;
}

.score {
  color: #d8d228;
  font-family: 'VT323', monospace;
  font-size: 150%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#playerSelection {
  display: flex;
  justify-content: space-between;
}

#playerSelection > img {
  width: 33%;  
  border: 5px solid transparent;
  border-radius: 5px;
}

#playerSelection > img:hover {
  border: 5px solid #fff;
}